In [1]:
import pandas as pd
df_public = pd.read_csv('survey_results_public.csv', index_col = 'Respondent')
df_schema = pd.read_csv('survey_results_schema.csv', index_col = 'Column')

In [2]:
df_public.head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [3]:
df_public['ConvertedComp'].head(10)

Respondent
1          NaN
2          NaN
3       8820.0
4      61000.0
5          NaN
6     366420.0
7          NaN
8          NaN
9      95179.0
10     13293.0
Name: ConvertedComp, dtype: float64

In [4]:
df_public['ConvertedComp'].median()

57287.0

In [5]:
df_public.median()

CompTotal        62500.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [6]:
df_public.describe()

          CompTotal  ConvertedComp  WorkWeekHrs   CodeRevHrs          Age
count  5.365000e+03   5.355000e+03  6185.000000  4810.000000  7575.000000
mean   1.171755e+09   1.247993e+05    42.306653     5.023669    30.249663
std    8.575519e+10   2.821544e+05    27.034811     5.312070     8.891671
min    0.000000e+00   0.000000e+00     1.000000     0.000000     1.000000
25%    2.000000e+04   2.598000e+04    40.000000     2.000000    24.000000
50%    6.250000e+04   5.728700e+04    40.000000     4.000000    29.000000
75%    1.200000e+05   1.000000e+05    44.000000     5.000000    35.000000
max    6.281239e+12   2.000000e+06  1012.000000    99.000000    97.000000

In [7]:
df_public['ConvertedComp'].count()

5355

In [8]:
df_public['Hobbyist'].value_counts()

Yes    6873
No     1618
Name: Hobbyist, dtype: int64

In [9]:
df_public['SocialMedia']

Respondent
1         Twitter
2       Instagram
3          Reddit
4          Reddit
5        Facebook
          ...
8524      Twitter
8525      YouTube
8526     WhatsApp
8527       Reddit
8528          NaN
Name: SocialMedia, Length: 8491, dtype: object

In [10]:
df_schema.loc['SocialMedia']

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object

In [11]:
df_public['SocialMedia'].value_counts()

Reddit                      1349
YouTube                     1311
Facebook                    1307
WhatsApp                    1288
Twitter                     1128
Instagram                    586
I don't use social media     524
LinkedIn                     422
Snapchat                      69
VK ВКонта́кте                 57
WeChat 微信                     57
Weibo 新浪微博                     7
Youku Tudou 优酷                 3
Hello                          1
Name: SocialMedia, dtype: int64

In [12]:
df_public['SocialMedia'].value_counts(normalize=True)

Reddit                      0.166358
YouTube                     0.161672
Facebook                    0.161179
WhatsApp                    0.158836
Twitter                     0.139105
Instagram                   0.072265
I don't use social media    0.064620
LinkedIn                    0.052041
Snapchat                    0.008509
VK ВКонта́кте               0.007029
WeChat 微信                   0.007029
Weibo 新浪微博                  0.000863
Youku Tudou 优酷              0.000370
Hello                       0.000123
Name: SocialMedia, dtype: float64

In [13]:
df_public['Country']

Respondent
1               United Kingdom
2       Bosnia and Herzegovina
3                     Thailand
4                United States
5                      Ukraine
                 ...
8524            United Kingdom
8525                    France
8526                   Nigeria
8527             United States
8528             United States
Name: Country, Length: 8491, dtype: object

In [14]:
country_grp = df_public.groupby(['Country'])

In [15]:
country_grp.get_group('United Kingdom')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
76,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Completed an industry certification program (e...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,32.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
80,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,Biracial,No,Appropriate in length,Neither easy nor difficult
82,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area,NaN,Man,No,NaN,NaN,No,Too long,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8490,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,43.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
8498,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
8507,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,NaN,28.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
8509,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,Somewhat less welcome now than last year,NaN,27.0,Woman,No,NaN,NaN,No,Too long,Neither easy nor difficult
8524,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers,45.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult

In [16]:
hobby = df_public.groupby(['Hobbyist'])

In [17]:
hobby.get_group('Yes')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8522,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,South Asian,No,Too long,Easy
8523,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Other Country (Not Listed Above),No,"Professional degree (JD, MD, etc.)",NaN,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,50.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
8524,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers,45.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
8525,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,France,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,23.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
8526,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Nigeria,No,Associate degree,"A social science (ex. anthropology, psychology...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,26.0,Man,No,NaN,Black or of African descent,Yes,Appropriate in length,Easy

In [18]:
filt = df_public['Country'] == 'Kazakhstan'
df_public.loc[filt]

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
2238,"I am not primarily a developer, but I write co...",No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Kazakhstan,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech articles written by other developers;Tech...,43.0,Man,No,NaN,Multiracial,Yes,Appropriate in length,Easy
3867,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Kazakhstan,No,Some college/university study without earning ...,Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,NaN,NaN,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
8495,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,Kazakhstan,No,Some college/university study without earning ...,Web development or web design,Taken a part-time in-person course in programm...,...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy

In [19]:
filt1 = df_public['Country'] == 'India'
df_public.loc[filt1]['SocialMedia'].value_counts()

WhatsApp                    274
YouTube                     177
Facebook                     92
LinkedIn                     89
Instagram                    70
Reddit                       49
Twitter                      48
I don't use social media     25
Snapchat                      4
Hello                         1
Name: SocialMedia, dtype: int64

In [20]:
country_grp1 = df_public.groupby(['Country'])
country_grp1['SocialMedia'].value_counts().head(50)

Country      SocialMedia
Afghanistan  Facebook                     2
             Instagram                    1
             YouTube                      1
Albania      Facebook                     2
             LinkedIn                     2
             YouTube                      1
Algeria      Facebook                     7
             YouTube                      5
             I don't use social media     2
             LinkedIn                     2
Andorra      I don't use social media     1
Angola       Twitter                      1
Argentina    WhatsApp                    19
             Reddit                      11
             Twitter                      8
             Facebook                     6
             Instagram                    3
             I don't use social media     2
             LinkedIn                     2
             YouTube                      2
Armenia      Facebook                     5
             YouTube                      4
             Twitter                      1
Australia    Facebook                    37
             Reddit                      36
             Twitter                     31
             YouTube                     30
             WhatsApp                    21
             Instagram                   15
             I don't use social media    13
             LinkedIn                     7
             Snapchat                     3
             VK ВКонта́кте                1
Austria      WhatsApp                    21
             YouTube                     14
             Reddit                      11
             Facebook                     7
             Twitter                      6
             I don't use social media     5
             Instagram                    5
             LinkedIn                     1
             Snapchat                     1
Azerbaijan   Facebook                     2
             LinkedIn                     1
             Twitter                      1
             WhatsApp                     1
Bahrain      WhatsApp                     1
Bangladesh   Facebook                    26
             YouTube                     12
             LinkedIn                     4
Name: SocialMedia, dtype: int64

In [21]:
country_group = df_public.groupby(['Country'])
country_group['SocialMedia'].value_counts(normalize=True).loc['China']

SocialMedia
WeChat 微信                   0.642857
YouTube                     0.125000
Weibo 新浪微博                  0.107143
I don't use social media    0.035714
LinkedIn                    0.035714
Facebook                    0.017857
Instagram                   0.017857
VK ВКонта́кте               0.017857
Name: SocialMedia, dtype: float64

In [22]:
country_group['ConvertedComp'].median()

Country
Afghanistan                              1596.0
Albania                                 41040.0
Algeria                                  8892.0
Andorra                                     NaN
Angola                                   7764.0
                                         ...
Uzbekistan                              37400.0
Venezuela, Bolivarian Republic of...     9000.0
Viet Nam                                15516.0
Yemen                                   14376.0
Zimbabwe                                18000.0
Name: ConvertedComp, Length: 151, dtype: float64

In [23]:
country_group['ConvertedComp'].median().loc['Germany']

59579.0

In [24]:
country_group['ConvertedComp'].agg(['median','mean'])

                                       median     mean
Country
Afghanistan                            1596.0   5320.0
Albania                               41040.0  51917.5
Algeria                                8892.0  11943.0
Andorra                                   NaN      NaN
Angola                                 7764.0   7764.0
...                                       ...      ...
Uzbekistan                            37400.0  37400.0
Venezuela, Bolivarian Republic of...   9000.0  33256.8
Viet Nam                              15516.0  24652.0
Yemen                                 14376.0  14376.0
Zimbabwe                              18000.0  14400.0

[151 rows x 2 columns]

In [25]:
country_group['ConvertedComp'].agg(['max','min']).loc['Canada']

max    1380000.0
min          0.0
Name: Canada, dtype: float64

In [26]:
filt3 = df_public['Country'] == 'India'
df_public[filt3]['LanguageWorkedWith'].str.contains('Python')

Respondent
8        True
10       True
15      False
50       True
65      False
        ...
8492    False
8494     True
8497    False
8512     True
8522    False
Name: LanguageWorkedWith, Length: 849, dtype: object

In [27]:
filt3 = df_public['Country'] == 'India'
df_public[filt3]['LanguageWorkedWith'].str.contains('Python').sum()

312

In [28]:
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                             0
Albania                                 1
Algeria                                 3
Andorra                                 0
Angola                                  1
                                       ..
Uzbekistan                              0
Venezuela, Bolivarian Republic of...    4
Viet Nam                                6
Yemen                                   1
Zimbabwe                                5
Name: LanguageWorkedWith, Length: 151, dtype: int64

In [29]:
country_respondents = df_public['Country'].value_counts()
country_respondents

United States                       1933
India                                849
Germany                              546
United Kingdom                       545
Canada                               355
                                    ...
Mali                                   1
Angola                                 1
Guyana                                 1
Lao People's Democratic Republic       1
Rwanda                                 1
Name: Country, Length: 151, dtype: int64

In [30]:
country_group5 = df_public.groupby(['Country'])
country_uses_python = country_group5['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                             0
Albania                                 1
Algeria                                 3
Andorra                                 0
Angola                                  1
                                       ..
Uzbekistan                              0
Venezuela, Bolivarian Republic of...    4
Viet Nam                                6
Yemen                                   1
Zimbabwe                                5
Name: LanguageWorkedWith, Length: 151, dtype: int64

In [31]:
python_df = pd.concat([country_respondents, country_uses_python], axis = 'columns', sort=False)
python_df

                                  Country  LanguageWorkedWith
United States                        1933                 934
India                                 849                 312
Germany                               546                 242
United Kingdom                        545                 231
Canada                                355                 165
...                                   ...                 ...
Mali                                    1                   1
Angola                                  1                   1
Guyana                                  1                   1
Lao People's Democratic Republic        1                   0
Rwanda                                  1                   1

[151 rows x 2 columns]

In [32]:
python_df.rename(columns = {'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumknowsPython'}, inplace=True)

In [33]:
python_df

                                  NumRespondents  NumknowsPython
United States                               1933             934
India                                        849             312
Germany                                      546             242
United Kingdom                               545             231
Canada                                       355             165
...                                          ...             ...
Mali                                           1               1
Angola                                         1               1
Guyana                                         1               1
Lao People's Democratic Republic               1               0
Rwanda                                         1               1

[151 rows x 2 columns]

In [34]:
python_df['PctKnowsPython'] = (python_df['NumknowsPython']/python_df['NumRespondents']) * 100
python_df

,NumRespondents,NumknowsPython,PctKnowsPython
United States,1933,934,48.318676
India,849,312,36.749117
Germany,546,242,44.322344
United Kingdom,545,231,42.385321
Canada,355,165,46.478873
...,...,...,...
Mali,1,1,100.000000
Angola,1,1,100.000000
Guyana,1,1,100.000000
Lao People's Democratic Republic,1,0,0.000000
Rwanda,1,1,100.000000

In [35]:
python_df

,NumRespondents,NumknowsPython,PctKnowsPython
United States,1933,934,48.318676
India,849,312,36.749117
Germany,546,242,44.322344
United Kingdom,545,231,42.385321
Canada,355,165,46.478873
...,...,...,...
Mali,1,1,100.000000
Angola,1,1,100.000000
Guyana,1,1,100.000000
Lao People's Democratic Republic,1,0,0.000000
Rwanda,1,1,100.000000

In [36]:
python_df.sort_values(by = 'PctKnowsPython', ascending = False, inplace = True)
python_df.head(50)

,NumRespondents,NumknowsPython,PctKnowsPython
Rwanda,1,1,100.000000
Sierra Leone,1,1,100.000000
Iraq,4,4,100.000000
Ethiopia,4,4,100.000000
Turkmenistan,2,2,100.000000
Haiti,1,1,100.000000
Maldives,1,1,100.000000
Benin,1,1,100.000000
Guinea,1,1,100.000000
Fiji,1,1,100.000000
Mali,1,1,100.000000
Monaco,1,1,100.000000
Angola,1,1,100.000000
Guyana,1,1,100.000000
Belize,1,1,100.000000
Liechtenstein,1,1,100.000000
South Korea,20,14,70.000000
United Republic of Tanzania,3,2,66.666667
Zimbabwe,8,5,62.500000
Bosnia and Herzegovina,16,10,62.500000
Honduras,5,3,60.000000
Uganda,5,3,60.000000
Lebanon,10,6,60.000000
Japan,27,16,59.259259
Guatemala,7,4,57.142857
Finland,48,27,56.250000
Tunisia,9,5,55.555556
Kenya,24,13,54.166667
Mauritania,2,1,50.000000
El Salvador,8,4,50.000000
"Venezuela, Bolivarian Republic of...",8,4,50.000000
Cambodia,4,2,50.000000
Trinidad and Tobago,2,1,50.000000
Qatar,2,1,50.000000
Namibia,2,1,50.000000
Montenegro,2,1,50.000000
Israel,99,49,49.494949
United States,1933,934,48.318676
Slovakia,27,13,48.148148
Russian Federation,173,81,46.820809
Canada,355,165,46.478873
Colombia,28,13,46.428571
Australia,206,95,46.116505
Armenia,11,5,45.454545
Thailand,18,8,44.444444
Germany,546,242,44.322344
New Zealand,50,22,44.000000
France,232,102,43.965517
China,64,28,43.750000
Chile,16,7,43.750000

In [37]:
python_df.loc['Japan']

NumRespondents    27.000000
NumknowsPython    16.000000
PctKnowsPython    59.259259
Name: Japan, dtype: float64

In [38]:
df_public.groupby('Country')['Kazakhstan']

KeyError: 'Column not found: Kazakhstan'